.container {
  width: 100%;
  border-top: 1px solid #ddd;
  box-sizing: border-box;

  .inner {
    width: 100%;
    max-width: 1590px;
    margin: 0 auto;
    padding: 30px 16px;
    box-sizing: border-box;

    > img {
      width: 60px;
      height: 17px;
      margin-bottom: 15px;
      display: block;
    }
  }

  .info_list {
    display: grid;
    gap: 8px;

    li {
      position: relative;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.13px;
      color: #111;
    }
  }

  @media screen and (min-width:992px) {
    .inner {
      padding: 40px 16px 60px;
      display: flex;
      align-items: flex-start;
      gap: 145px;
      
      > img {
        margin-bottom: 0;
      }
    }

    .info_list {
      gap: 10px 20px;
      display: flex;
      width: 100%;
      max-width: 455px;
      flex-wrap: wrap;

      li {
        font-size: 14px;
        letter-spacing: -0.14px;
      }
      
      li:nth-child(1),
      li:nth-child(3) {
        &:after {
          content: "";
          display: block;
          position: absolute;
          right: -10px;
          top: 3px;
          width: 1px;
          height: 10px;
          background-color: #ddd;
        }
      }
    }
  }
}