.container {
  padding-bottom: 42px;
  position: relative;
  
  &:after {
    content: "";
    display: block;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    background-color: #F5F6F7;
    height: 10px;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  .title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.22px;
    color: #111;
    margin: 0 0 30px;
  }

  .btn_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;

    button {
      width: 100%;
      max-width: 220px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 6px;
      background-color: #fff;
      border-radius: 100px;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
      justify-content: center;
      padding: 19px;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: -0.15px;

      &.star {
        background-color: #474DE1;
        box-shadow: none;
        color: #fff;
      }

      > img {
        width: 16px;
        height: 16px;
      }
    }
  }

  @media screen and (min-width:992px) {
    padding-bottom: 62px;

    .title {
      font-size: 50px;
      line-height: 66px; /* 132% */
      letter-spacing: -0.5px;
    }

    .btn_box {
      flex-direction: row;
      width: fit-content;
      margin: 0 auto 40px;

      button {
        font-size: 18px;
        letter-spacing: -0.18px;
        padding: 23px;
        width: 250px;
        max-width: 250px;

        > img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}