@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  appearance: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  appearance: none;
}

html, body, #root, .container {
  width: 100%;
  height: 100vh;
  font-family: 'Pretendard', sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none;
  }
  
}

ul, ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

input, select, form, button, textarea {
  &:focus, &:active {
    outline: 0;
  }
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.16px;
  color: #111;

  &::placeholder {
    color: #999;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
