.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  z-index: 100;

  .inner {
    background-color: #F5F7FC;
    z-index: 5;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .contents {
    flex:  1;

    p {
      color: #333;
      font-size: 14px;
      font-weight: 500;
      word-break: keep-all;
      margin: 0;
    }
  }

  .btns {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      flex: 1;
      font-size: 14px;
      background-color: #e5e5e5;
      padding: 12px;
      box-sizing: border-box;
      border-radius: 100px;
      font-weight: 700;
      color: #333;
      
      &.check {
        color: #fff;
        background-color: #474DE1;
      }
    }
  }

  @media screen and (min-width:992px) {
    .inner {
      max-width: 600px;
    }

    .contents {
      p {
        font-size: 16px;
      }
    }

    .btns {
      margin-top: 48px;
      gap: 12px;

      button {
        font-size: 16px;
        padding: 14px;
      }
    }
  }
}